---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Nicolas Bouffanais" />
    <slot name="head"/>
    <meta name="description" content="Aplicacion web escolar donde se puede subir, eliminar, calificar y descargar archivos PDF,PNG,JPEG y videos">
    <title>Rooms App</title>
  </head>
  <body>
    <Navbar/>
    <article>
      <slot /> <!-- your content is injected here -->
    </article>
    <Footer />
  </body>
</html>