# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Node
node_modules

# Build
build

# compiled output
/dist
/node_modules

# environment variables
.env

#turbo
.turbo

#images
uploads